<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @profile.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= @profile.image %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul>
      <li>Nationality: <%= @profile.nationality %></li>
      <li>Gender: <%= @profile.gender %></li>
      <li>Age: <%= @profile.age %></li>
      <li>Description: <%= @profile.description %></li>
    </ul>
  </div>
</div>
<div class="row">
  <%= link_to 'Update Profile', edit_book_path(@profile), class: 'btn btn-primary' %>
</div>