<% if logged_in? %>
  <p style="margin-bottom: 30px">Hi <%= current_user.name %>. What book do you have in your backpack?</p>
  <% if @book %>
    <div class="row">
      <aside class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @book.title %></h3>
          </div>
          <div class="panel-body">
            <img class="media-object img-rounded img-responsive" src="<%= @book.image %>" alt="">
          </div>
        </div>
      </aside>
      <div class="col-xs-8">
        <ul>
          <li>Author: <%= @book.author %></li>
          <li>Language: <%= @book.language %></li>
          <li><%= @book.page %> Page</li>
          <li>Description: <%= @book.description %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <%= link_to 'Update Book', edit_book_path(@book), class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div class="row">
      <%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Books in Backpack</h1>
      <h3>Share your book during your travel</h3>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>